.content1 {
    padding: 50px;
    width: 100%;
}

.content1.compressed {
    width: calc(100% - var(--side-nav-1-width));
    margin: 0 0 0 var(--side-nav-1-width);
}

.sign-in-up-content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}